/* Write your CSS here */
.nav-container {
  display: flex;
  height: 10vh;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
  box-shadow: #dcdcdc 0px 1px 2px 0px;
}
.website-logo {
  width: 60px;
  height: 50px;
}
.con1 {
  display: flex;
  list-style-type: none;
}
.icons {
  width: 30px;
  color: black;
  height: 30px;
  margin-right: 20px;
}
.menu-icon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.header-p1 {
  font-family: 'roboto';
  font-weight: bold;
  margin-top: 2px;
  color: black;
  font-size: 25px;
}
.logo-btn {
  border-width: 0px;
  background-color: transparent;
}
.pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-element {
  text-decoration: none;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}
.icon-corner {
  display: flex;
  margin-right: 90px;
  width: 100vw;
  justify-content: flex-end;
}
.kavya {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
